canvas{
    background-color: #ebebeb;
    position: absolute;;
    border: 1px solid #000;
}
body{
    background-image: url('background.jpg'); 
    cursor:crosshair;
}
#buttons {
    position: relative;
    width: 200px;
    height: 600px;
    left: 10px;
    float: left;
}

.color {
    width: 170px;
    height: 90px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#purple {
    background-color: purple;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#pink {
    background-color: pink;
}
#black {
    background-color: black;
}
#white {
    background-color: white;
}
#ebebeb {
    background-color: #ebebeb;
    margin-right: 20px;
}

#right {
    width: 500px;
    height: 600px;
    float: right;
    margin-right: -20px;
    margin-left: 60px;
}

#center {
    position: relative;
    width: 800px;
    height: 400px;
    margin-left: 200px;
    margin-right: 100px;
}

#class {
    border: 1px;
}

.mode {
    width: 300px;
    height: 100px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    background-color: skyblue;
}
#down {
    clear: both;
    margin-left: 450px;
    margin-right: 690px;
}
.DoAndDown {
    width: 300px;
    height: 100px;
    margin-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center; 
    background-color: skyblue;
}
#word {
    margin-top: 20px;
}

input { 
    font-size: 14px; font-weight: bold; 
}

input[type="range"] {
    display: block;-webkit-appearance: none;background-color: #bdc3c7;width: 100%;height: 10px;border-radius: 5px;margin: 0 auto;outline: 0;
}
input[type="range"]::-webkit-slider-thumb {-webkit-appearance: none;background-color: #e74c3c;width: 30px;height: 30px;border-radius: 50%;border: 2px solid white;cursor: pointer;transition: 0.3s ease-in-out;}
.range{position:relative;width:300px;margin:0 auto;}
.rang_width{position:absolute;top:-15px;left:0;background:#f00;height:10px;border-radius:5px 0 0 5px;}

#list {
    margin-top: 20px;
}

#Upload {
    margin-top: 20px;
}

.fontSize{
    margin-top: 20px;
}
